*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    font-family: 'Nunito Sans', sans-serif;
}
.calculator{
    width: 300px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: #000;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.6);
}
.display{
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: #d6ff41;
    color: #000;
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.row{
    display: flex;
    justify-content: space-between;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    margin: 10px;
}
button:hover{
    cursor: pointer;
    background-color: #FFAD70;
    transition: 0.5s;
}
button:active{
    background-color: #f05800;
}
#zero{
    width: 128px;
    border-radius: 25px;
}
#AC{
    width: 90px;
    border-radius: 25px;
}
#backspace{
    width: 90px;
    border-radius: 25px;
}
.operator{
    background-color: #FF6C00;
    color: #000;
}
.btn{
    background-color: #ff903b;
}
.btn:hover{
    background-color: #FFCAA4;
    transition: 0.5s;
}
.btn:active{
    background-color: #f05800;
}
